{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} create user {% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <h1>User create</h1>
        {{ form_start(userForm) }}
        {{ form_widget(userForm) }}
        <button type="submit" class="btn btn-primary">create</button>
        {{ form_end(userForm) }}
    </div>

{% endblock %}
